:root {
  /* COLORS: Tangelo, Blue, Spring Bud, Picton Blue, Platinum, Gray, Onyx, Night */
  --clr-tangelo-beta: #f3510c;
  --clr-tangelo: #F75008;
  --clr-blue-beta: #2e11ed;
  --clr-blue: #5008F7;
  --clr-spring-bud: #AFF708;
  --clr-picton-blue: #08AFF7;
  --clr-white: #FFFFFF;
  --clr-platinum: #E4E4E4;
  --clr-gray: #808080;
  --clr-onyx: #454545;
  --clr-night: #121212;
  /* FONTS */
  --font-bungee: 'Bungee', sans-serif;
  --font-nunito: 'Nunito Variable', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 200ms ease-out;
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bungee);
}

p,
small {
  font-family: var(--font-nunito);
}

button,
input {
  font-family: var(--font-bungee);
  font-size: 16px;
  line-height: 1;
  border: none;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9999rem;
  background: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;

  &:focus-visible {
    outline-color: var(--clr-blue);
  }
}